// Body
$body-bg: #f8fafc;

// Typography
@font-face {
    font-family: "Nunito";
    $font-size-base: 0.9rem;
    $line-height-base: 1.6;
    src: url("https://fonts.bunny.net/files/nunito-latin-400-normal.woff2") format("woff2");
    font-display: swap;
}